.playerClasses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerClassOptions {
    flex-basis: 20%;
    list-style-type: none;
    
}

.classheader {
    margin-top: 2%;
    color: whitesmoke;
    text-align-last: center;
}

.hero_image:hover {
    filter: contrast(140%);
}