.deck {
    background-color: rgb(27, 26, 26);
}

Table {
    width: 80%;
}

th {
  color: white;  
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.newestDecks {
    width: 47%;
    margin-top: 10%;
    margin-right: 50px;
    left: 5%;
}

.newestDeckHeader {
    color: antiquewhite;
}

.highestRatedDecks {
    width: 47%;
    margin-top: 10%;
}

tr:nth-child(even) {background-color: #535353;}