.deck {
    background-color: rgb(27, 26, 26);
}

Table {
    width: 80%;
}

th {
  color: white;  
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.newestDecks {
    width: 100%;
    margin-top: 5%;
    margin-right: 50px;
    left: 5%;
}

.newestDeckHeader {
    color: antiquewhite;
}

.highestRatedDecks {
    width: 47%;
    margin-top: 10%;
}

th {background-color: #701e1e;}
td{background-color: #343a40;}

tr {
    cursor: pointer;
        border: 0px solid #ffffff;
}

/* td:hover {
    background-color: #701e1e;
} */

tr:hover {
    color: rgb(0, 250, 21);
    

}