body {
    background-color: rgb(255, 255, 255);
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.leftContainer {
    width: 70%;
}

.rightContainer {
    width: 30%;
}

.cardViewer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardViewerOptions {
    flex-basis: 20%;
    list-style-type: none;
}

.neutralCardViewer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.neutralCardViewerOptions {
    flex-basis: 20%;
    list-style-type: none;
}



.cardCount {
    text-align: center;
}

.deckSideBarCards {
    list-style-type:none;
    height: 500px;
    width: 420px;
    overflow-y: scroll;
    text-align-last: left;
}

img{
    /* width: 256px; */
    cursor: pointer;
        border: 0px solid #ffffff;
}

img.card_image:hover{
    /* opacity: 0.7; */
    /* width: 100;
    height: 100; */
    filter: contrast(130%);
}

ul {
    list-style-type:none;
}

li {
    list-style-type:none;
}

.greyscale {
    filter: grayscale(100%);
}

.cardImage {
    position: relative;

}

.redx {
    width: 200px;

    position: absolute;
    top: 25%;
    left: 10%;
  }

  .isVisible {
      display: none;
  }

.currentDeck {
    color: rgb(255, 255, 255);
}

.totalCards {
    color: rgb(255, 255, 255);
}

.playerClassName {
    color: rgb(255, 255, 255);
}

.filters {
    background-color: #ffffff;
}

.input--wide {
    margin-left: 10px;
}