body {
    background-color: rgb(255, 255, 255);
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.leftContainer {
    width: 70%;
}

.rightContainer {
    width: 30%;
}

.cardViewer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardViewerOptions {
    flex-basis: 20%;
    list-style-type: none;
}

.neutralCardViewer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.neutralCardViewerOptions {
    flex-basis: 20%;
    list-style-type: none;
}



.cardCount {
    position: absolute;
    text-align: center;
    top: 89%;
    left: 36%;
    color: #deb887
}

.deckSideBarCards {
    list-style-type:none;
    height: 340px;
    width: 420px;
    overflow-y: scroll;
    text-align-last: left;
}

img{
    cursor: pointer;
    border: 0px solid #ffffff;
}

img.card_image:hover{
    filter: contrast(130%);
}

ul {
    list-style-type:none;
}

li {
    list-style-type:none;
}

.greyscale {
    filter: grayscale(100%);
}

.cardImage {
    position: relative;
}

.redx {
    width: 200px;

    position: absolute;
    top: 25%;
    left: 10%;
  }

.isVisible {
    display: none;
}

.currentDeck {
    color: rgb(255, 255, 255);
}

.totalCards {
    color: rgb(255, 255, 255);
}

.playerClassName {
    color: rgb(255, 255, 255);
}

.filters {
    background-color: #ffffff;
    /* display: flex;
    flex-wrap: nowrap; */
}

.input--wide {
    margin-left: 10px;
    margin-right: 40px;
}

.savePanel {
    position: absolute;
    top: 70%;
    left: 45%;
    width: 100%;
}

.visually-hidden{
    display: none;
}

.nocardsfound {
    margin-top: 50px;
    width: 256px;
}

.modal-title {
    color: black;
}