body {
    background-image: url(BG.png);
    background-repeat:round
}

.homeJumbotron {
    width: 50%;
    margin-top: 2%;
}

.jumboBanner {
    width: 106%;
}

.footer {
    margin-top: 10px;
    margin-bottom: 5px;
    color: whitesmoke;
}