.cardTileInfo__cardName {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 100%;
  font-weight: 800;
}

.cardTileInfo__cardCost {
  position: absolute;
  top: 20%;
  left: 7.5%;
}

  .classCards {
    width: 33%;
  }

  .neutralCards {
    width: 33%;
  }

  .bottomDeckContainer {
    display: flex;
    flex-wrap: nowrap;
  }

  .deckContainer {
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 100px;
  }

  h4, h5{
    color: rgb(255, 255, 255);
  }

  body {
    color: white;
  }