.cardOptionTileImage {
  position: relative;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1.0px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-size: 130%;
  /* border: 2px solid rgb(217, 255, 0); */
  text-align-last: right;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 350px;
  height: 50px;
  margin-bottom: 7px;
  font-weight: 800;
}

.cardOptionTileImage:hover{
  /* opacity: 0.7; */
  /* width: 100;
  height: 100; */
  border: 3px;
  border-radius: 80%;
  box-shadow:
      inset 0 0 10px #fff,      
      inset 50px 0 50px rgb(9, 255, 0),   
      inset -20px 0 80px #0ff,  
      inset 20px 0 300px rgb(22, 9, 94),  
      inset -20px 0 300px #0ff, 
      0 0 0px #fff,            
      0px 0 30px rgb(25, 128, 22),  
      0px 0 10px #0ff;   
}

.card_SideTileImage {
  position: absolute;
  left: 15%;
  width: 73%;
  height: 95%;
  z-index: 1;
}

.tileBlackSideBar {
  position: absolute;
  top: 0%;
  left: 50%;
  height: 10px;
  width: 50px;
  border-radius: 0%;
}

.manaSideText {
  position: absolute;
  height: 55px;
  left: 0%;
  z-index: 3;
}

.cardSideMiddle {
  position: absolute;
  height: 55px;
  width: 80%;
  left: 12%;
  top: 0%;
  z-index: 3;
}

.cardSideRight {
  position: absolute;
  height: 55px;
  
  left: 80%;
  top: 0%;
  z-index: 2;
}

.cardSideMask {
  position: absolute;
  left: 15%;
  top: 5%;
  width: 290px;
  z-index: 2;
  height: 96%
}

.cardOptionTileInfo__cardName {
    position: absolute;
    top: 20%;
    left: 18%;
    z-index: 3;
  }

.cardOptionTileInfo__cardCost {
    position: absolute;
    top: 20%;
    left: 7.5%;
    z-index: 3;
  }

.btnSave {
  width: 120px;
  margin-right: 10px;
}

.btnEdit {
  position: absolute;
  left: 41%;
}

.btnClear {
  width: 120px;
}

.totalCards {
  position: relative;
  left: 27%;
}

.currentDeck {
  position: relative;
  left: 26%;
}

.listContainer {
  position: relative;
  left: 15%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.manaCurveChartDisplayOptions {
  position: absolute;
  left: 29%;
  top: 80%;
}